header{
	width: 100%;
	height: 76px;
	/* background: grey; */
/* 	margin-top: 10px;
 */	position: absolute;
	top: 0;
	left: 0;
}
header:hover{
	background: #D1EAF4;
}
#header1{
	float: left;
	width: 90px;
	height: 76px;
	/* background: red; */
	margin-left: 70px;
}
#header1 a{
	display: block;
	width: 100%;
	height: 100%;
}
#header1 a img{
	width: 100%;
	height: 100%;
}
#header2{
	float: left;
	width: 798px;
	height: 30px;
	/* background: red; */
	margin-left: 70px;
	margin-top: 30px;
}
#header2 ul{
	width: 100%;
	height: 100%;
}
#header2 ul li{
	float: left;
	width: 80px;
	height: 30px;
	margin-left: 35px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}
#header2 ul li:first-child{
	margin-left: 0;
}
#header2 ul li:nth-child(4){
	border-bottom: 2px solid #333333;
	overflow: hidden;
}
#header2 ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
	text-decoration: none;
	list-style: none;
}
#header2 ul li a:hover{
	color: #ff0000;
}
#header3{
	float: left;
	width: 180px;
	height: 30px;
	margin-top: 30px;
	margin-left: 35px;
	/* background: green; */
}
#header3-1{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
}
#header3-1 img{
	float: left;
	width: 100%;
	height: 100%;
}
#header3-1 img:hover{
	transform: scale(1.5, 1.5);
}
#header3-2{
	width: 130px;
	height: 30px;
	float: left;
	margin-left: 5px;
	line-height: 30px;
}
#header3-2 p{
	width: 100%;
	height: 100%;
	float: left;
	font-size: 18px;
	color: #ff0000;
	line-height: 30px;
}
#header3-2 p:hover{
	transform: scale(1.1, 1.1);
}
/* 头部 */

main{
	width: 100%;
	height: 600px;
	margin: 0 auto;
	/* margin-top: 10px; */
}
main a{
	display: block;
	width: 100%;
	height: 100%;
}
main img{
	width: 100%;
	height: 100%;
}
/* banner */

#weizhi{
	width: 1000px;
	height: 30px;
	/* background: skyblue; */
	margin: 0 auto;
	margin-top: 30px;
}
#weizhi1,#weizhi1 img{
	float: left;
	width: 30px;
	height: 30px;
	/* margin-left: 10px; */
}
#weizhi2{
	float: left;
	white-space: nowrap;
	height: 30px;
	/* background: green; */
	margin-left: 10px;
	font-size: 18px;
	line-height: 30px;
	color: #BBBBBB;
}
#weizhi3{
	float: left;
	white-space: nowrap;
	height: 30px;
	/* background: grey; */
	margin-left: 10px;
	font-size: 18px;
	line-height: 30px;
}
#weizhi3 a{
	display: block;
	width: 100%;
	height: 100%;
	color: #BBBBBB;
}
#weizhi3 a:hover{
	color: #ff0000;
}
#weizhi4{
	float: left;
	white-space: nowrap;
	height: 30px;
	margin-left: 6px;
}
#weizhi4 p{
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 30px;
	color: #BBBBBB;
}
#weizhi5{
	float: left;
	white-space: nowrap;
	height: 30px;
	/* background: grey; */
	margin-left: 6px;
	font-size: 18px;
	line-height: 30px;
}
#weizhi5 a{
	display: block;
	width: 100%;
	height: 100%;
	color: #BBBBBB;
}
#weizhi5 a:hover{
	color: #ff0000;
}
/* 小导航 */

section{
	width: 1000px;
	height: 410px;
	/* background: skyblue; */
	margin: 0 auto;
	margin-top: 20px;
}
#section-top{
	width: 100%;
	height: 300px;
	/* background: red; */
}
#img{
	float: left;
	width: 420px;
	height: 300px;
}
#img a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#img a img{
	width: 100%;
	height: 100%;
}
#img a img:hover{
	transform: scale(1.1, 1.1);
}
#font{
	float: right;
	width: 570px;
	height: 300px;
}
#font ul{
	width: 100%;
	height: 100%;
}
#font ul li{
	width: 100%;
	height: 49%;
	margin-top: 2%;
	letter-spacing: 1.5px;
	line-height: 28.5px;
}
#font ul li:first-child{
	margin-top: 0;
}
#section-bottom{
	width: 100%;
	height: 110px;
	/* background: grey; */
	letter-spacing: 1.5px;
	line-height: 28.5px;
}
/* 关于我们 */

footer{
	width: 100%;
	height: 260px;
	background: #2A2A2A;
	margin-top: 30px;
}
#footer{
	width: 1200px;
	height: 260px;
	/* background: blue; */
	margin: 0 auto;
}
#footer-left,#footer-btween,#footer-right{
	float: left;
	width: 32%;
	height: 240px;
	/* background: red; */
	margin-right: 2%;
	/* text-align: center; */
	margin-top: 20px;
}
#footer-left p,#footer-right p{
	color: #ffffff;
	font-size: 20px;
}
#footer-right{
	margin-right: 0;
}
#footer-left a{
	display: block;
	float: left;
	color: #BBBBBB;
	margin-top: 16px;
	margin-right: 10px;
}
#footer-left a:hover{
	color: #ff0000;
}
#footer-btween>p{
	font-size: 20px;
	color: #ffffff;
}
#tell{
	width: 100%;
	margin-top: 16px;
}
#tell>p{
	color: #bbbbbb;
	font-size: 16px;
	margin-top: 10px;
}
#footer-right{
	text-align: center;
}
#footer-right img{
	width: 140px;
	height: 140px;
	margin-top: 16px;
}
/* 底部 */