header{
	width: 100%;
	height: 76px;
	/* background: grey; */
/* 	margin-top: 10px;
 */	position: absolute;
	top: 0;
	left: 0;
}
header:hover{
	background: #D1EAF4;
}
#header1{
	float: left;
	width: 90px;
	height: 76px;
	/* background: red; */
	margin-left: 70px;
}
#header1 a{
	display: block;
	width: 100%;
	height: 100%;
}
#header1 a img{
	width: 100%;
	height: 100%;
}
#header2{
	float: left;
	width: 798px;
	height: 30px;
	/* background: red; */
	margin-left: 70px;
	margin-top: 30px;
}
#header2 ul{
	width: 100%;
	height: 100%;
}
#header2 ul li{
	float: left;
	width: 80px;
	height: 30px;
	margin-left: 35px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}
#header2 ul li:first-child{
	margin-left: 0;
}
#header2 ul li:nth-child(4){
	border-bottom: 2px solid #333333;
	overflow: hidden;
}
#header2 ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
	text-decoration: none;
	list-style: none;
}
#header2 ul li a:hover{
	color: #ff0000;
}
#header3{
	float: left;
	width: 180px;
	height: 30px;
	margin-top: 30px;
	margin-left: 35px;
	/* background: green; */
}
#header3-1{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
}
#header3-1 img{
	float: left;
	width: 100%;
	height: 100%;
}
#header3-1 img:hover{
	transform: scale(1.5, 1.5);
}
#header3-2{
	width: 130px;
	height: 30px;
	float: left;
	margin-left: 5px;
	line-height: 30px;
}
#header3-2 p{
	width: 100%;
	height: 100%;
	float: left;
	font-size: 18px;
	color: #ff0000;
	line-height: 30px;
}
#header3-2 p:hover{
	transform: scale(1.1, 1.1);
}
/* 头部 */

main{
	width: 100%;
	height: 600px;
	margin: 0 auto;
	/* margin-top: 10px; */
}
main a{
	display: block;
	width: 100%;
	height: 100%;
}
main img{
	width: 100%;
	height: 100%;
}
/* banner */