header{
	width: 100%;
	height: 76px;
	/* background: grey; */
	/* margin-top: 10px; */
	position: absolute;
	top: 0;
	left: 0;
}
header:hover{
	background: #D1EAF4;
}
#header1{
	float: left;
	width: 90px;
	height: 76px;
	/* background: red; */
	margin-left: 70px;
}
#header1 a{
	display: block;
	width: 100%;
	height: 100%;
}
#header1 a img{
	width: 100%;
	height: 100%;
}
#header2{
	float: left;
	width: 798px;
	height: 30px;
	/* background: red; */
	margin-left: 70px;
	margin-top: 20px;
}
#header2 ul{
	width: 100%;
	height: 100%;
}
#header2 ul li{
	float: left;
	width: 80px;
	height: 30px;
	margin-left: 35px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}
#header2 ul li:first-child{
	margin-left: 0;
	border-bottom: 2px solid #333333;
	overflow: hidden;
}
#header2 ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
	text-decoration: none;
	list-style: none;
}
#header2 ul li a:hover{
	color: #ff0000;
}
#header3{
	float: left;
	width: 180px;
	height: 30px;
	margin-top: 20px;
	margin-left: 35px;
	/* background: green; */
}
#header3-1{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
}
#header3-1 img{
	float: left;
	width: 100%;
	height: 100%;
}
#header3-1 img:hover{
	transform: scale(1.2, 1.2);
}
#header3-2{
	width: 130px;
	height: 30px;
	float: left;
	margin-left: 5px;
	line-height: 30px;
}
#header3-2 p{
	width: 100%;
	height: 100%;
	float: left;
	font-size: 18px;
	color: #ff0000;
	line-height: 30px;
}
#header3-2 p:hover{
	transform: scale(1.1, 1.1);
}
/* 头部 */

main{
	width: 100%;
	height: 600px;
	/* background: green; */
	margin: 0 auto;
	/* margin-top: 10px; */
}
main a{
	display: block;
	width: 100%;
	height: 100%;
}
main img{
	width: 100%;
	height: 100%;
}
/* banner */

#kouhao{
	width: 1000px;
	height: 42px;
	color: #333333;
	margin: 0 auto;
	text-align: center;
	font-size: 36px;
	line-height: 42px;
	margin-top: 20px;
}
#kh1{
	width: 1000px;
	height: 40px;
	color: #333333;
	margin: 0 auto;
	font-size: 34px;
	line-height: 40px;
	text-align: center;
	margin-top: 20px;
}
#kh2{
	width: 1000px;
	height: 30px;
	/* background: red; */
	color: #333333;
	margin: 0 auto;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 20px;
}
/* 口号 */

#section{
	width: 100%;
	height: 640px;
	/* background: #d1eaf4; */
	margin-top: 30px;
}
#section1{
	width: 100%;
	height: 400px;
	/* background: red; */
	margin-top: 20px;
}
#section2{
	width: 1000px;
	height: 400px;
	/* background: #d1eaf4; */
	margin: 0 auto;
}
#fig{
	width: 1000px;
	height: 40px;
	color: #333333;
	font-size: 30px;
	margin: 0 auto;
	margin-top: 10px;
}
#fig1{
	width: 1000px;
	height: 400px;
}
#fig1-1{
	float: left;
	width: 49%;
	height: 400px;
	background: #ffffff;
}
#fig1-2{
	float: left;
	width: 50%;
	height: 400px;
	
}#fig1-1 a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#fig1-1 a img{
	width: 100%;
	height: 100%;
}
#fig1-1 a img:hover{
	transform: scale(1.1,1.1);
}
#fig1-1{
	margin-right: 1%;
}
#fig2{
	width: 100%;
	height: 100%;
	/* background: red; */
}
#fig2 li{
	float: left;
	width: 49%;
	height: 49%;
	background: #ffffff;
}
#fig2 li:nth-child(3),#fig2 li:nth-child(4){
	margin-top: 1%;
}
#fig2 li:nth-child(1),#fig2 li:nth-child(2){
	margin-bottom: 1%;
}
#fig2 li:nth-child(1),#fig2 li:nth-child(3){
	margin-right: 1%;
}
#fig2 li:nth-child(2),#fig2 li:nth-child(4){
	margin-left: 1%;
}
#fig2 li a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#fig2 li a img{
	width: 100%;
	height: 100%;
}
#fig2 li a img:hover{
	transform: scale(1.1, 1.1);
}
#fig3{
	width: 1000px;
	height: 160px;
	/* background: skyblue; */
	margin: 0 auto ;
	margin-top: 10px;
}
#fig3 a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#fig3 a img{
	width: 100%;
	height: 100%;
}
#fig3 a img:hover{
	transform: scale(1.1, 1.1);
}
/* 产品中心 */

#section3{
	width: 1000px;
	height: 660px;
	/* background: #d1eaf4; */
	margin: 0 auto;
	margin-top: 30px;
}
#font{
	width: 100%;
	height: 40px;
	color: #333333;
	font-size: 30px;
	line-height: 40px;
}
#section3 ul{
	width: 100%;
	height: 590px;
	/* background: green; */
	margin-top: 20px;
}
#section3 ul li{
	float: left;
	width: 49%;
	height: 49%;
	/* background: grey; */
}
#section3 ul li:nth-child(1),#section3 ul li:nth-child(2){
	margin-bottom: 1%;
}
#section3 ul li:nth-child(3),#section3 ul li:nth-child(4){
	margin-top: 1%;
}
#section3 ul li:nth-child(1),#section3 ul li:nth-child(3){
	margin-right: 1%;
}
#section3 ul li:nth-child(2),#section3 ul li:nth-child(4){
	margin-left: 1%;
}
#section3 ul li a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#section3 ul li a img{
	width: 100%;
	height: 100%;
}
#section3 ul li a img:hover{
	transform: scale(1.1, 1.1);
}
/* 案例中心 */

#section4{
	width: 100%;
	height: 390px;
	/* background: yellow; */
	margin-top: 30px;
}
#font1{
	width: 1000px;
	height: 40px;
	color: #333333;
	margin: 0 auto;
	font-size: 30px;
	line-height: 40px;
	/* text-align: center; */
}
#section4 ul{
	width: 100%;
	height: 330px;
	/* background: yellow; */
	display: flex;
	margin-top: 20px;
}
#section4 ul li{
	/* float: left; */
	width: 24.5%;
	height: 100%;
	/* background: red; */
	margin-right: 1%;
}
#section4 ul li:last-child{
	margin-right: 0;
}
#section4 ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
#section4 ul li a img{
	width: 100%;
	height: 100%;
}
/* 关于我们 */

#section5{
	width: 1000px;
	height: 440px;
	/* background: skyblue; */
	margin: 0 auto;
	margin-top: 30px;
}
#font2{
	width: 100%;
	height: 40px;
	color: #333333;
	margin: 0 auto;
	font-size: 30px;
	line-height: 40px;
}
#section5 ul{
	width: 100%;
	height: 380px;
	/* background: red; */
	margin-top: 20px;
}
#section5 ul li{
	width: 100%;
	height: 70px;
	/* background: green; */
	margin-top: 7.5px;
}
#section5 ul li:first-child{
	margin-top: 0;
}
#section5 ul li a{
	color: #333333;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	list-style: none;
}
#section5 ul li p{
	font-size: 14px;
	color: #888888;
	letter-spacing: 1px;
}
#section5 ul li a:hover{
	color: #ff0000;
}
/* 新闻资讯 */

footer{
	width: 100%;
	height: 260px;
	background: #2A2A2A;
	margin-top: 30px;
}
#footer{
	width: 1200px;
	height: 260px;
	/* background: blue; */
	margin: 0 auto;
}
#footer-left,#footer-btween,#footer-right{
	float: left;
	width: 32%;
	height: 240px;
	/* background: red; */
	margin-right: 2%;
	/* text-align: center; */
	margin-top: 20px;
}
#footer-left p,#footer-right p{
	color: #ffffff;
	font-size: 20px;
}
#footer-right{
	margin-right: 0;
}
#footer-left a{
	display: block;
	float: left;
	color: #BBBBBB;
	margin-top: 16px;
	margin-right: 10px;
}
#footer-left a:hover{
	color: #ff0000;
}
#footer-btween>p{
	font-size: 20px;
	color: #ffffff;
}
#tell{
	width: 100%;
	margin-top: 16px;
}
#tell>p{
	color: #bbbbbb;
	font-size: 16px;
	margin-top: 10px;
}
#footer-right{
	text-align: center;
}
#footer-right img{
	width: 140px;
	height: 140px;
	margin-top: 16px;
}
/* 底部 */